[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=logisim-evolution-snapcraft
Icon=${SNAP}/meta/gui/logisim-icon-128.png
Categories=Science;Education;
Name=Logisim evolution
Comment=Logisim evolution ${SNAPCRAFT_PROJECT_VERSION}